################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/.vs
/API/src/CludeMedSync.Api/obj
/API/src/CludeMedSync.Data/obj
/API/src/CludeMedSync.Domain/obj
/API/src/CludeMedSync.Service/obj
/API/src/CludeMedSync.Tests/obj/Debug/net8.0
/API/src/CludeMedSync.Tests/obj
