<div class="structure-map">
  <div class="structure-level-item">
    <p class="level-title">
      <i class="fas fa-user-md"></i> Consultas realizadas pelo profissional: XXXXXXXXXXX
    </p>
    <div class="structure-level-item-nested">
      <p class="nested-title"><i class="fas fa-calendar-alt"></i> Agendamento</p>
      <p class="nested-details"><i class="fas fa-clock"></i> Agenda inicia em 01/07/2025 14:00</p>
    </div>
    <div class="structure-level-item-nested">
      <p class="nested-title"><i class="fas fa-check-circle"></i> Confirmado</p>
      <p class="nested-details"><i class="fas fa-clock"></i> Confirmada em 01/07/2025 14:00</p>
    </div>
    <div class="structure-level-item-nested">
      <p class="nested-title"><i class="fas fa-play"></i> Iniciado</p>
      <p class="nested-details"><i class="fas fa-clock"></i> Iniciada em 01/07/2025 14:00</p>
    </div>
    <div class="structure-level-item-nested">
      <p class="nested-title"><i class="fas fa-flag-checkered"></i> Finalizado</p>
      <p class="nested-details"><i class="fas fa-clock"></i> Finalizada em 01/07/2025 14:30</p>
    </div>
    <div class="structure-level-item-nested">
      <p class="nested-title"><i class="fas fa-user-times"></i> Paciente não Compareceu</p>
      <p class="nested-details"><i class="fas fa-clock"></i> Encerrada em 01/07/2025 14:00</p>
    </div>
    <div class="structure-level-item-nested">
      <p class="nested-title"><i class="fas fa-user-md-slash"></i> Funcionário não Compareceu</p>
      <p class="nested-details"><i class="fas fa-clock"></i> Encerrada em 01/07/2025 14:00</p>
    </div>
    <div class="structure-level-item-nested">
      <p class="nested-title"><i class="fas fa-ban"></i> Consulta Cancelada</p>
      <p class="nested-details"><i class="fas fa-clock"></i> Cancelada em 01/07/2025 14:00</p>
    </div>
  </div>
</div>