<div class="section-header">
  <h2 class="section-title">Pacientes</h2>
  <div class="toolbar">
    <div class="toolbar-actions">
      <div class="button-group">
        <button class="btn success-btn" (click)="abrirModalPaciente()">
          <i class="fas fa-user-plus"></i> Novo Paciente
        </button>
        <button class="btn primary-btn"><i class="fas fa-file-excel"></i> Exportar EXCEL</button>
      </div>
    </div>
  </div>
</div>

<div class="filter-bar">
  <input type="text" placeholder="Busca por nome, CPF ou e-mail..." class="search-input" 
         [(ngModel)]="termoBusca" 
         (input)="onBuscaInput()">

  <select class="filter-select" [(ngModel)]="statusFiltro" (change)="onFiltroChange()">
    <option value="">Todos</option>
    <option value="true">Ativo</option>
    <option value="false">Inativo</option>
  </select>

<select class="filter-select" [(ngModel)]="ordemFiltro" (change)="onFiltroChange()">
    <option value="Id_desc">Mais Recentes</option>
    <option value="Id_asc">Mais Antigos</option>
    <option value="NomeCompleto_asc">Nome (A-Z)</option>
    <option value="NomeCompleto_desc">Nome (Z-A)</option>
</select>
</div>

<div class="entity-list-grid">
  
<ng-container *ngIf="!isLoading && !errorMessage">
    <div *ngFor="let paciente of pacientes" class="entity-card">
      
      <h3>{{ paciente.nomeCompleto }}</h3>
      <p>Idade: {{ calcularIdade(paciente.dataNascimento) }} anos</p>
      <p>Email: {{ paciente.email }}</p>

      <div class="badges-container">
        <span class="badge">
          {{ paciente.ativo ? 'Ativo' : 'Inativo' }}
        </span>
      </div>

      <div class="actions">
        <button class="btn primary-btn" (click)="editarPaciente(paciente)">
          <i class="fas fa-edit"></i> Editar
        </button>
        <button class="btn danger-btn" (click)="excluirPaciente(paciente)">
          <i class="fas fa-trash"></i> Excluir
        </button>
      </div>

    </div>
  </ng-container>

</div>

<div class="pagination-controls">
  <button class="btn" disabled>Anterior</button>
  <button class="btn active">1</button>
  <button class="btn">2</button>
  <button class="btn">Próximo</button>
</div>


<app-generic-modal
  [aberto]="modalAberto"
  (fechar)="fecharModalPaciente()"
  [titulo]="'Cadastro Paciente'"
>
  <app-modal-paciente
    (fechar)="fecharModalPaciente()"
    (salvar)="salvarPaciente($event)"
  ></app-modal-paciente>
</app-generic-modal>

