<div class="section-header">
  <h2 class="section-title">Pacientes</h2>
  <div class="toolbar">
    <div class="toolbar-actions">
      <div class="button-group">
        <button class="btn success-btn" (click)="abrirModalPaciente()">
          <i class="fas fa-user-plus"></i> Novo Paciente
        </button>
        <button class="btn primary-btn"><i class="fas fa-file-excel"></i> Exportar EXCEL</button>
      </div>
    </div>
  </div>
</div>

<div class="filter-bar">
  <input type="text" placeholder="Busca avcaçada...." class="search-input">

  <select class="filter-select">
    <option value="ativo">Ativo</option>
    <option value="inativo">Inativo</option>
  </select>

  <select class="filter-select">
    <option value="">Ordenar por</option>
    <option value="nome_asc">Nome (A-Z)</option>
    <option value="nome_desc">Nome (Z-A)</option>
    <option value="mais_recente">Mais Recentes</option>
    <option value="mais_antigo">Mais Antigos</option>
  </select>
</div>

<div class="entity-list-grid">
  <div class="entity-card">
    <h3>Maria da Silva</h3>
    <p>Idade: 34 anos</p>
    <p>Email: maria.silvagmail.com</p>
    <div class="badges-container">
      <span class="badge">Ativa</span>
    </div>
    <div class="actions">
      <button class="btn primary-btn"><i class="fas fa-edit"></i> Editar</button>
      <button class="btn danger-btn"><i class="fas fa-trash"></i> Excluir</button>
    </div>
  </div>

  <div class="entity-card">
    <h3>João Pedro Mendes</h3>
    <p>Idade: 61 anos</p>
    <p>Email: joaopedrogmail.com</p>
    <div class="badges-container">
      <span class="badge warning-badge">Inativo</span>
    </div>
    <div class="actions">
      <button class="btn primary-btn"><i class="fas fa-edit"></i> Editar</button>
      <button class="btn danger-btn"><i class="fas fa-trash"></i> Excluir</button>
    </div>
  </div>

  <div class="entity-card">
    <h3>Ana Júlia Ribeiro</h3>
    <p>Idade: 17 anos</p>
    <p>Email: anajuliagmail.com</p>
    <div class="badges-container">
      <span class="badge">Ativa</span>
    </div>
    <div class="actions">
      <button class="btn primary-btn"><i class="fas fa-edit"></i> Editar</button>
      <button class="btn danger-btn"><i class="fas fa-trash"></i> Excluir</button>
    </div>
  </div>
</div>

<div class="pagination-controls">
  <button class="btn" disabled>Anterior</button>
  <button class="btn active">1</button>
  <button class="btn">2</button>
  <button class="btn">Próximo</button>
</div>


<app-generic-modal
  [aberto]="modalAberto"
  (fechar)="fecharModalPaciente()"
  [titulo]="'Cadastro Paciente'"
>
  <app-modal-paciente
    (fechar)="fecharModalPaciente()"
    (salvar)="salvarPaciente($event)"
  ></app-modal-paciente>
</app-generic-modal>

